body {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.navbar-brand {
    font-size: 2rem;
}

.error {
    color: red;
}

.row ~ .row {
    margin-top: 5px;
}

button {
    margin: 3px 5px 3px 5px;
}

h6 {
    margin-top: 20px;
}

.footer {
    text-align: end;
    margin-right: 2rem;
    font-size: 0.8rem;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
}

.toggle>span {
    margin: 0 0.4rem 0 0.4rem;
}

div.react-toggle-track, div.react-toggle-track:hover, div.react-toggle--checked > div.react-toggle-track {
    background-color: #007bff;
}

@media(min-width:576px) {
    .container {
        width: 80vw;
    }
}

@media(min-width:992px) {
    .container {
        width: 60vw;
    }
}
